<div class="container mt-4">
    <div class="row">
      <div *ngFor="let producto of productos" class="col-md-4 mb-4">
        <div class="card h-100">
          <img [src]="producto.imagen" class="card-img-top img-fluid" alt="{{producto.nombre}}">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-text"><strong>${{ producto.precio }}</strong></p>
            <a [routerLink]="['/detalle', producto.id]" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  