<h1 class="text-light"><strong>Sobre Nosotros 🍭 – Canday</strong></h1>

<p class="fs-5 col-md-8">En Canday, creemos que cada día merece un toque de dulzura. Somos una tienda online de chuches
    creada para hacerte sonreír, donde podés encontrar desde los clásicos de toda la vida hasta las últimas novedades
    del mundo dulce.

    Nos apasionan los caramelos, las gominolas, los regalices y todo lo que despierte nostalgia y alegría. Hacemos que
    recibir tus chuches favoritas sea tan fácil como hacer clic, y las llevamos hasta tu puerta con amor y color.</p>
<h1> </h1>
<p class="fs-5 col-md-8"> Te renta? </p>  

<div class="mb-5">
    <a href="./productos" class="btn btn-primary btn-lg px-4">Productos</a>
</div>