<div class="col-md-6">
    <h2 class="text-light">Nuestros contactos</h2>
    <p>Si tienes dudas, contacta con nosotros</p>
    <ul class="list-unstyled ps-0">
      <li>
        <a class="icon-link mb-1" href="" rel="noopener" target="_blank">
          <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-circle"></use></svg>
          Telefono: +32 629 236 128
        </a>
      </li>
      <li>
        <a class="icon-link mb-1" href="" rel="noopener" target="_blank">
          <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-circle"></use></svg>
          Gmail: canday&#64;gmail.com
        </a>
      </li>
      <li>
        <a class="icon-link mb-1" href="" rel="noopener" target="_blank">
          <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-circle"></use></svg>
          Instagram: &#64;canday
        </a>
      </li>
      <li>
        <a class="icon-link mb-1" href="" rel="noopener" target="_blank">
          <svg class="bi" width="16" height="16" aria-hidden="true"><use xlink:href="#arrow-right-circle"></use></svg>
          facebook: &#64;canday
        </a>
      </li>
    </ul>
  </div>