<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic"><strong>¡Canday! la mejor tienda de chuches online que vas a ver.</strong> </h1>
      <p class="lead my-3">Compra a domilicio sin temor!</p>
      <p class="lead mb-0"><a href="./aboutus" class="text-body-emphasis fw-bold">Sobre nosotros</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Marca</strong>
          <h3 class="mb-0">Nombre Producto</h3>
          <div class="mb-1 text-body-secondary">KG</div>
          <p class="card-text mb-auto">Descripcion</p>
          <a href="./formulariopago">Comprar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: foto" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">foto</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Marca</strong>
          <h3 class="mb-0">Nombre Producto</h3>
          <div class="mb-1 text-body-secondary">KG</div>
          <p class="card-text mb-auto">Descripcion</p>
          <a href="./formulariopago">Comprar</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: foto" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">foto</text></svg>
        </div>
      </div>
    </div>
  </div>

  

</body>
</html>


